    <div id="menuLateral">
    <ul id="menuList">
        <li><a href="cpHome.php" name="submenu" class="submenu">Home</a>
        </li> 
        <li><a href="cpAllJapanTravel.php">All Japan Travel</a>
        </li> 
        <li><a href="cpServicos.php">Serviços</a>
        </li>         
        <li><a href="cpBanner.php" name="submenu" class="sz'ubmenu">Banner</a>
        </li>         
        <li><span id="manyMenu">Vagas <span style="display: inline; float: right">&#9654;</span></span>
            <ul>
                <li><a href="cpVagasSegmento.php">Segmentos</a></li> 
                <li><a href="cpVagasArubaito.php">Arubaito</a></li> 
                <li><a href="cpVagasEmprego.php">Emprego</a></li> 
            </ul>
        </li>         
        <li><a href="cpContato.php" name="submenu" class="submenu">Contato</a>
        </li>     
        <li>
            <a href="cpConfig.php" name="submenu" class="submenu">Usuário</a>
        </li>        
        <li>
            <a href="cpLogout.php" name="submenu" class="submenu">Logout</a>
        </li>
    </ul>
</div> 